.grid {
  composes: grid from '../../../styles/layout.module.css';
  --grid-min: var(--grid-highlights-min);
  --grid-cols: var(--grid-highlights-cols);
}

.cell {
  composes: cell riseCell from '../../../styles/layout.module.css';
}
