.section {
  composes: section from '../../styles/layout.module.css';
}

.headline {
  composes: section from '../../styles/typography.module.css';
  max-width: var(--measure-headline);
}

.grid {
  composes: grid from '../../styles/layout.module.css';
  --grid-min: var(--grid-guides-min);
  --grid-cols: var(--grid-guides-cols);
  margin-top: var(--space-64);
}

.cell {
  composes: cell from '../../styles/layout.module.css';
}
