.section {
  composes: section from '../../styles/layout.module.css';
}

.headline {
  composes: section from '../../styles/typography.module.css';
  max-width: var(--measure-headline);
}

.route {
  margin-top: var(--space-48);
}

.notes {
  margin-top: var(--space-24);
}
